<tr>
    <th>@ParameterName</th>
    <td class="fst-italic">@Type</td>
    <td class="fst-italic">@required.</td>
    <td class="fst-italic">@DefaultValue</td>
    <td>@ChildContent</td>
    <td>@Notes</td>
</tr>

@code {
    //todo remove this

    [EditorRequired, Parameter] public RenderFragment ChildContent { get; set; }
    [EditorRequired, Parameter] public string DefaultValue { get; set; }
    [Parameter] public string Notes { get; set; }
    [EditorRequired, Parameter] public string ParameterName { get; set; }
    [Parameter] public bool Required { get; set; }
    [EditorRequired, Parameter] public string Type { get; set; }

    string required;

    protected override void OnParametersSet()
    {
        required = Required ? "required" : "optional";
    }
}
